.idea
.serverless
backend/src/functions/order-api/.serverless
client/node_modules
node_modules
be-stack.json
COPYING.txt
favicon.ico
LICENSE
news.md
AWS/
Azure/
*.code-workspace
**/.DS_Store
backend/src/functions/admin/jsonpickle-2.0.0.dist-info/
package-lock.json
client/package-lock.json
packaged.yml
backend/src/functions/admin/admin_shell/dvsa_adminshell.zip
client/dist/
backend/serverless/scripts/dist_s3
sam.py
